{% extends 'base.html' %}

{% block content %}
welcome to MexMe
<div id="tweets">
    Loading...
</div>
<script>
    const tweetElement = document.getElementById('tweets')
    

    const xhr = new XMLHttpRequest()
    const method = 'GET'
    const url = "/tweets"
    const responseType = "json"

    xhr.responseType = responseType
    xhr.open(method, url)
    xhr.onload = function() {
        const serverResponse = xhr.response
        const listedItems = serverResponse.response
        var finalTweetStr =""
        var i;
        for(i=0; i<listedItems.length; i++) {
            var currentItem = "<div class='mb-4'><h1>" + listedItems[i].id + "</h1>" + "<p>" + listedItems[i].content + "</p></div>"
            finalTweetStr += currentItem
            console.log(listedItems[i]);
        }

        tweetElement.innerHTML = finalTweetStr


    }

    xhr.send()
    
</script>

{% endblock content %}